In [2]:
import grader

In [4]:
grade = grader.calculate_letter_grade(
        assignments=[100, 100, 100, 90, 60, 100],
        final_project=98,
        midterm=98,
        return_grade=False
    )

In [6]:
grade

98.0

In [8]:
grade = grader.calculate_letter_grade(
        assignments=[100, 100, 100, 90, 60, 100],
        final_project=98,
        midterm=98,
        return_grade=True
    )

In [10]:
grade

'A'

In [12]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\twins\appdata\local\programs\python\python37\lib\site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\twins\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.17.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\twins\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\twins\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2019.2)
Requirement already satisfied: six>=1.5 in c:\users\twins\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

WARNING: You are using pip version 19.2.3, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [14]:
! pip show pandas

Name: pandas
Version: 0.25.1
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: http://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: c:\users\twins\appdata\local\programs\python\python37\lib\site-packages
Requires: pytz, python-dateutil, numpy
Required-by: seaborn

In [18]:
import grader as gr
import pandas as pd
import numpy as np

In [16]:
df2 = pd.DataFrame({'A': 1.,
                       'B': pd.Timestamp('20130102'),
                       'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                       'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                        'F': 'foo'})

In [17]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [20]:

gr.convert_points_to_letter(90)

'A-'